@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    background: linear-gradient(to bottom, rgb(9, 7, 44), transparent), url(../public/images/bg-explosion.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: white;
}

.main_btn {
    background: url(../public/images/circle-star.svg);
    position: relative;
    height: 185px;
    width: 185px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    
}

.main_3 {
    background: linear-gradient(to bottom, rgb(9, 7, 44), transparent), url(../public/images/site-bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: white;
}